mixin date(date, format)
    if date
        time.date(time-ago=date.toJSON())=blog.formatDate(date)

mixin post(post)
    .post-inner
        .content.markdown-body(dir=post.dir || blog.dir || blog.strings.dir)
            if !attributes.excerpt
                article
                    !=String(post.contents)
                footer
                    small.metadata
                        span.author!=post.strings.writtenBy
                        | 
                        +date(post.created.date, blog.dateFormat)
                        if post.modified
                            | #{post.strings.modifiedOn}
                            | 
                            +date(post.modified.date, blog.dateFormat)
                        div.categories
                            for category in post.categories
                                | #{category}
                block
            else
                h2.title= post.title
                p.excerpt= post.excerpt
                footer
                    small.metadata #{post.strings.writtenOn}
                        +date(post.created.date, blog.dateFormat)

                if post.image
                    .cover.media-container: img(src=post.image)

mixin page(page)
    .page
        each post in page.data
            //- @TODO: href=post.url
            a.post(class=post.type)
                +post(post)(excerpt=true)

mixin paginate(currentIndex, total)
    div current page: #{currentIndex}
    each page in total
        a(href=page)