extends partials/base
block content
    .post-view
        .post(class=post.type)
            +post(post)
                if comments
                    disqus#comments(shortname=blog.disqus.shortname,
                        identifier=post.id, url=post.url, title=post.title)